<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>CEU mass mediator</title>
        </ui:define>

        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>

        <ui:define name="intro-wrapper">
            <div class="form ">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>

                    <div class="container excelbullet">

                        <h:commandButton 
                            styleClass="button"
                            value="Generate Excel" 
                            action="#{browseSearchControllerJDBC.exportToExcel()}" 
                            immediate="true"
                            rendered="#{browseSearchControllerJDBC.isThereTheoreticalCompounds()}">
                        </h:commandButton>

                    </div>

                    <div class="tablewhiteborder">
                        <center>
                            <h:outputText escape="false" value="No query parameters valid. Please introduce 
                                          a formula with length > 3 or a name with a length > 3" 
                                          rendered="#{not browseSearchControllerJDBC.isThereQueryParameters()}"/>

                            <h:outputText escape="false" value="#{browseSearchControllerJDBC.getMessageNotFound()}" 
                                          rendered="#{browseSearchControllerJDBC.isThereQueryParameters() 
                                                      and not browseSearchControllerJDBC.isThereTheoreticalCompounds()}"/>
                        </center>
                        <h:panelGroup rendered="#{browseSearchControllerJDBC.isThereTheoreticalCompounds()}">
                            <p:dataTable value="#{browseSearchControllerJDBC.items}" 
                                         var="compound" 
                                         sortMode="multiple"
                                         id="datatablecompound"
                                         styleClass="compoundresults"
                                         rendered="#{browseSearchControllerJDBC.isThereTheoreticalCompounds()}"
                                         emptyMessage="No compounds found for the query parameters 
                                         #{browseSearchControllerJDBC.queryName} and 
                                         #{browseSearchControllerJDBC.queryFormula}"
                                         >
                                <f:facet name="header">
                                    Results for name #{browseSearchControllerJDBC.queryName}
                                    and formula #{browseSearchControllerJDBC.queryFormula}"

                                </f:facet>

                                <!-- Every column has the minimum pixels enough to show information.
                                     The addition of every column is the widh of body -> 1600px
                                -->
                                <p:column headerText="Id" 
                                          style="width:75px">
                                    <h:outputLink value="#{annotation.CMMWebPage}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{annotation.compound_id}" />
                                    </h:outputLink>
                                </p:column>
                                <p:column headerText="Name" sortBy="#{compound.compound_name}" style="width:405px">
                                    <h:outputText value="#{compound.compound_name}" />
                                    <ui:fragment rendered="#{not empty compound.MINE_id and not empty compound.compound_name}">
                                        <br/>
                                    </ui:fragment>
                                    <h:outputText value="GENERATED by MINE " rendered="#{not empty compound.MINE_id}" /> 
                                    <h:outputLink value="#{compound.getCompoundMINEWebPage()}" target="_mine" 
                                                  rendered="#{not empty compound.MINE_id}" styleClass="prime">
                                        <h:outputText value="#{compound.MINE_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column headerText="Formula" sortBy="#{compound.formula}" style="width:150px">
                                    <h:outputText value="#{compound.formula}" />
                                </p:column>

                                <p:column headerText="Molecular Weight" sortBy="#{compound.mass}" style="width:100px">
                                    <h:outputText value="#{compound.roundToFourDecimals((compound.mass))}" />
                                </p:column>


                                <p:column headerText="Cas" sortBy="#{compound.cas_id}" style="width:120px">
                                    <h:outputText value="#{compound.cas_id}"/> 
                                </p:column>

                                <p:column sortBy="#{compound.hmdb_id}" style="width:120px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.HMDBWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="HMDB" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundHMDBWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.hmdb_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column sortBy="#{compound.metlin_id}" style="width:100px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.metlinWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="Metlin" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundMetlinWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.metlin_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column sortBy="#{compound.lm_id}" style="width:125px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.LMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="LipidMaps" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundLMWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.lm_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column sortBy="#{compound.kegg_id}" style="width:90px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.keggWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="KEGG" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundKeggWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.kegg_id}" />
                                    </h:outputLink>
                                </p:column>
                                
                                <p:column sortBy="#{compound.chebi_id}" style="width:90px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.chebiWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="CHEBI" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundChebiWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.chebi_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column sortBy="#{compound.pc_id}" style="width:90px">
                                    <f:facet name="header">  
                                        <h:outputLink value="#{browseSearchControllerJDBC.PCWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="PubChem" />  
                                        </h:outputLink>
                                    </f:facet> 
                                    <h:outputLink value="#{compound.getCompoundPubChemWebPage()}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{compound.pc_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                    <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" 
                                                     actionListener="#{compound.exchangeBoolShowPathways()}" 
                                                     rendered="#{compound.areTherePathways()}">
                                        <f:ajax execute="showpathways" render=" showpathways datalistpathways"/>
                                    </p:commandButton>
                                    <p:dataList value="#{compound.pathwaysBool}" 
                                                var="pathway"
                                                styleClass="pathways"
                                                id="datalistpathways" 
                                                rendered="#{compound.areTherePathways()}"
                                                emptyMessage=""
                                                type="ordered">
                                        <h:outputLink value="#{pathway.getPathwayWebPage()}" target="_blank" class="prime pathways">
                                            #{pathway.pathwayName}
                                        </h:outputLink>
                                    </p:dataList>
                                </p:column>

                            </p:dataTable>
                        </h:panelGroup>

                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>


</html>
