<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>CEU mass mediator. Advanced search</title>
        </ui:define>

        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>

        <ui:define name="intro-wrapper">
            <div class="form ">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>

                    <div class="container excelbullet">
                        <h:commandButton 
                            styleClass="button"
                            value="Generate Excel" 
                            action="#{CEMSEffMobController.exportToExcel(3)}" 
                            immediate="true"
                            rendered="#{CEMSEffMobController.isThereInputMasses()}">
                        </h:commandButton>
                    </div>

                    <div class="tablewhiteborder">
                        <center>
                            <h:outputText escape="false" value="No input compounds" 
                                          rendered="#{not CEMSEffMobController.isThereInputMasses()}"/>
                        </center>
                        <h:panelGroup>
                            <p:dataList value="#{CEMSEffMobController.CEMSFeatures}" 
                                        var="feature" 

                                        id="datalistfeatures"
                                        type="unordered" itemType="none" paginator="true" 
                                        rows="1" 
                                        styleClass="annotationdatalist paginated">
                                <f:facet name="header">
                                    Annotations of the CE MS features
                                </f:facet>
                                <p:outputLabel value="#{feature.getEmptyAnnotationMessage()}" rendered="#{feature.getTotalNumAnnotations() == 0} "></p:outputLabel>
                                <p:dataList value="#{feature.annotationsCEMSGroupByAdduct}" 
                                            var="cemsannotationsgrouped" 
                                            id="datalistcemsannotationsgrouped"
                                            type="unordered" itemType="none" 
                                            rows="#{feature.getNumAnnotationsGrouped()}" 
                                            rendered="#{feature.getNumAnnotationsGrouped() > 0}"
                                            styleClass="annotationdatalist">
                                    <f:facet name="header">
                                        #{feature.getTitleMessage()}
                                    </f:facet>
                                    <p:dataTable value="#{cemsannotationsgrouped.annotationsCEMS}" 
                                                 var="annotation" 
                                                 sortMode="multiple"
                                                 id="datatablecompound"
                                                 styleClass="compoundresults"
                                                 emptyMessage="#{feature.getEmptyAnnotationMessage(cemsannotationsgrouped.adduct)}"
                                                 rendered="#{!annotation.isEmpty()}"
                                                 >
                                        <!-- Every column has the minimum pixels enough to show information.
                                             The addition of every column is the widh of body -> 1600px
                                        -->
                                        <f:facet name="header">
                                            #{feature.getTitleMessage(cemsannotationsgrouped.adduct, cemsannotationsgrouped.getNumberAnnotations())}
                                        </f:facet>
                                        <p:column headerText="Id" sortBy="#{annotation.compound_id}" style="width:75px" styleClass="#{annotation.colorFoundInStandard}">
                                            <h:outputLink value="#{annotation.CMMWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.compound_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column headerText="Name" sortBy="#{annotation.compound_name}" style="width:405px" styleClass="#{annotation.colorFoundInStandard}">
                                            <h:outputText value="#{annotation.compound_name}" />
                                        </p:column>

                                        <p:column headerText="Formula" sortBy="#{annotation.formula}" style="width:150px">
                                            <h:outputText value="#{annotation.formula}" />
                                        </p:column>

                                        <p:column headerText="Molecular Weight" sortBy="#{annotation.mass}" style="width:100px">
                                            <h:outputText value="#{annotation.roundToFourDecimals(annotation.mass)}" />
                                        </p:column>

                                        <p:column headerText="error PPM" sortBy="#{annotation.errorMZ}" 
                                                  style="width:75px">
                                            <h:outputText value="#{annotation.errorMZ}" />
                                        </p:column>

                                        <p:column headerText="EffMob" sortBy="#{annotation.effMob}" style="width:100px">
                                            <h:outputText value="#{annotation.roundToFourDecimals(annotation.effMob)}" />
                                        </p:column>

                                        <p:column headerText="error effMob" sortBy="#{annotation.errorEffMob}" 
                                                  style="width:80px">
                                            <h:outputText value="#{annotation.errorEffMob}" />
                                        </p:column>

                                        <p:column headerText="Cas" sortBy="#{annotation.cas_id}" style="width:120px">
                                            <h:outputText value="#{annotation.cas_id}"/> 
                                        </p:column>
                                        <p:column sortBy="#{annotation.hmdb_id}" style="width:120px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.HMDBWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="HMDB" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundHMDBWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.hmdb_id}" />
                                            </h:outputLink>
                                        </p:column>
                                        <p:column sortBy="#{annotation.metlin_id}" style="width:100px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.metlinWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="Metlin" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundMetlinWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.metlin_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.lm_id}" style="width:125px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.LMWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="LipidMaps" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundLMWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.lm_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.kegg_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.keggWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="KEGG" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundKeggWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.kegg_id}" />
                                            </h:outputLink>
                                        </p:column>
                                        
                                        <p:column sortBy="#{annotation.chebi_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.chebiWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="CHEBI" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundChebiWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.chebi_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.pc_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.PCWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="PubChem" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundPubChemWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.pc_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.chebi_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{CEMSEffMobController.chebiWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="Chebi" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundChebiWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.chebi_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                            <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" 
                                                             actionListener="#{annotation.exchangeBoolShowPathways()}" 
                                                             rendered="#{annotation.areTherePathways()}">
                                                <f:ajax execute="showpathways" render="showpathways datalistpathways"/>
                                            </p:commandButton>
                                            <p:dataList value="#{annotation.pathwaysBool}" 
                                                        var="pathway"
                                                        styleClass="pathways"
                                                        id="datalistpathways" 
                                                        rendered="#{annotation.areTherePathways()}"
                                                        emptyMessage=""
                                                        type="ordered">
                                                <h:outputLink value="#{pathway.getPathwayWebPage()}" target="_blank" class="prime pathways">
                                                    #{pathway.pathwayName}
                                                </h:outputLink>
                                            </p:dataList>
                                        </p:column>
                                    </p:dataTable>
                                </p:dataList>
                                <p:dataTable value="#{feature.annotationsFragmentsCEMS}" 
                                             var="fragment" 
                                             sortMode="multiple"
                                             id="datatablefragment"
                                             styleClass="compoundresults"
                                             emptyMessage="#{feature.getEmptyAnnotationMessageForFragments()}"
                                             rendered ="#{feature.getNumAnnotationsFragments() > 0}"
                                             >
                                    <!-- Every column has the minimum pixels enough to show information.
                                         The addition of every column is the widh of body -> 1600px
                                    -->
                                    <f:facet name="header">
                                        #{feature.getTitleMessageForFragments()}
                                    </f:facet>

                                    <p:column headerText="Id" 
                                              sortBy="#{fragment.precursorIon.compound_id}" 
                                              style="width:75px">
                                        <h:outputLink value="#{fragment.precursorIon.CMMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.compound_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column headerText="Name" sortBy="#{fragment.name}" style="width:405px">
                                        <h:outputText value="#{fragment.name}" />
                                    </p:column>

                                    <p:column headerText="mz" sortBy="#{fragment.mz}" style="width:100px">
                                        <h:outputText value="#{fragment.roundToFourDecimals((fragment.mz))}" />
                                    </p:column>

                                    <p:column headerText="error PPM" sortBy="#{fragment.errorMZ}" 
                                              style="width:75px">
                                        <h:outputText value="#{fragment.errorMZ}" />
                                    </p:column>

                                    <p:column headerText="EffMob" sortBy="#{fragment.effMob}" style="width:100px">
                                        <h:outputText value="#{fragment.effMob}" />
                                    </p:column>

                                    <p:column headerText="error EffMob" sortBy="#{fragment.errorEffMob}" 
                                              style="width:75px">
                                        <h:outputText value="#{fragment.errorEffMob}" />
                                    </p:column>

                                    <p:column headerText="Cas" sortBy="#{fragment.precursorIon.cas_id}" style="width:120px">
                                        <h:outputText value="#{fragment.precursorIon.cas_id}"/> 
                                    </p:column>
                                    <p:column sortBy="#{fragment.precursorIon.hmdb_id}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.HMDBWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="HMDB" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundHMDBWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.hmdb_id}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column sortBy="#{fragment.precursorIon.metlin_id}" style="width:100px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.metlinWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="Metlin" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundMetlinWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.metlin_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{fragment.precursorIon.lm_id}" style="width:125px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.LMWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="LipidMaps" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundLMWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.lm_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{fragment.precursorIon.kegg_id}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.keggWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KEGG" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundKeggWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.kegg_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{fragment.precursorIon.pc_id}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.PCWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="PubChem" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundPubChemWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.pc_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{fragment.precursorIon.chebi_id}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{CEMSEffMobController.chebiWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="Chebi" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{fragment.precursorIon.getCompoundChebiWebPage()}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{fragment.precursorIon.chebi_id}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                        <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" 
                                                         actionListener="#{fragment.precursorIon.exchangeBoolShowPathways()}" 
                                                         rendered="#{fragment.precursorIon.areTherePathways()}">
                                            <f:ajax execute="showpathways" render="showpathways datalistpathways"/>
                                        </p:commandButton>
                                        <p:dataList value="#{fragment.precursorIon.pathwaysBool}" 
                                                    var="pathway"
                                                    styleClass="pathways"
                                                    id="datalistpathways" 
                                                    rendered="#{fragment.precursorIon.areTherePathways()}"
                                                    emptyMessage=""
                                                    type="ordered">
                                            <h:outputLink value="#{pathway.getPathwayWebPage()}" target="_blank" class="prime pathways">
                                                #{pathway.pathwayName}
                                            </h:outputLink>
                                        </p:dataList>
                                    </p:column>

                                </p:dataTable>

                            </p:dataList>
                        </h:panelGroup>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>
