<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset ="utf-8"/>
        <title>MS/MS Spectra</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
        <link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css"/>
        <script src="assets/Rickshaw/d3.layout.min.js" type="text/javascript"></script>
        <script src="assets/Rickshaw/d3.min.js" type="text/javascript"></script>
        <script src="assets/Rickshaw/rickshaw.js" type="text/javascript"></script>
        <script src="assets/Rickshaw/rickshaw.min.js" type="text/javascript"></script>
        <script src="assets/Rickshaw/graficas_Rickshaw.js" type="text/javascript"></script>
       
        <link href="assets/Rickshaw/detail.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/extensions.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/graph.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/legend.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/lines.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/main.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/rickshaw.css" rel="stylesheet" type="text/css"/>
        <link href="assets/Rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css"/>
        <style>
            #chart {
                position: relative;
                left: 115px;
                display: block;

            }

            #y_axis {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 115px;
            }

            #x_axis {

                left: 73px;
                height: 45px;
                position: relative;
                width: 800px;

            }

            #legend {
                display: block;
                vertical-align: middle;
                margin: 0 0 0 20px;
                top: -20px;
            }


            #chart_container {
                position: absolute;
                font-family: Arial, Helvetica, sans-serif;

            }

            .rickshaw_graph .x_tick {
                position: relative;

            }

        </style>
    </h:head>


    <h:body>

        


        <div id ="chart_container">
            <div id="y_axis"></div>
            <div id="chart"></div>

            <div id="x_axis"></div>

            <div id="legend_container">

                <div id="legend"></div>

            </div>
        </div>    


        <script>
           graphPeaks(#{MSMSController.jsonItemPeaks},#{MSMSController.jsonMSMSController});
      

        </script>


    </h:body>

</html>




























<!-- comment 





 var graph = new Rickshaw.Graph({
          
          element: document.querySelector("#chart"),
          width: 300,
          height: 200,
          renderer: 'bar',
          series: [{
          color: 'steelblue',        
          data: [ { x: 0, y: 40 }, { x: 1, y: 49 }
          
          ], 
          color: 'lightblue',
          data: [ { x: 0, y: 20 }, { x: 1, y: 24 }
          
  ]
      }]});
      graph.render();





  
  <h1>Scatter</h1>
  <p:scatterChart  model="#{barChart.scatterModel}" style="width: 100%; height: 500px;"/>
  
  

-->