<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>CEU mass mediator. Simple search</title>
        </ui:define>
        
        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>
        
        <ui:define name="intro-wrapper">
            <div class="form ">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>

                    <div class="container excelbullet">

                        <h:commandButton 
                            styleClass="button"
                            value="Generate Excel" 
                            action="#{LCMSController.exportToExcel(0)}" 
                            immediate="true"
                            rendered="#{LCMSController.isThereInputMasses()}">
                        </h:commandButton>
                    </div>

                    <div class="tablewhiteborder">
                        <center>
                            <h:outputText escape="false" value="No input compounds" 
                                          rendered="#{not LCMSController.isThereInputMasses()}"/>
                        </center>
                        <h:panelGroup>

                            <!-- RENDERED TODO -->
                            <p:dataList value="#{LCMSController.significativeFeatures}" 
                                        var="feature" 
                                        id="datalistfeatures"
                                        type="unordered" itemType="none" paginator="true" 
                                        rows="1" 
                                        styleClass="annotationdatalist paginated"
                                        rendered="#{LCMSController.isThereInputMasses()}">
                                <f:facet name="header">
                                    Results of the experiment
                                </f:facet>
                                <p:dataList value="#{feature.annotationsGroupedByAdduct}" 
                                            var="annotationsgrouped" 
                                            id="datalistannotationsgrouped"
                                            type="unordered" itemType="none" 
                                            rows="#{feature.getNumAnnotationsGroupedByAdduct()}" 
                                            styleClass="annotationdatalist">
                                    <f:facet name="header">
                                        #{feature.getTitleMessage()}
                                    </f:facet>
                                    <p:dataTable value="#{annotationsgrouped.compounds}" 
                                                 var="annotation" 
                                                 sortMode="multiple"
                                                 id="datatablecompound"
                                                 styleClass="compoundresults"
                                                 emptyMessage="#{feature.getEmptyAnnotationMessage(annotationsgrouped.adduct)}"
                                                 >
                                        <!-- Every column has the minimum pixels enough to show information.
                                             The addition of every column is the widh of body -> 1600px
                                        -->
                                        <f:facet name="header">
                                            #{feature.getTitleMessage(annotationsgrouped.adduct,annotationsgrouped.getNumberAnnotations())}
                                        </f:facet>
                                        <p:column headerText="Id" 
                                                  sortBy="#{annotation.compound_id}" 
                                                  style="width:75px">
                                            <h:outputLink value="#{annotation.CMMWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.compound_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column headerText="Name" sortBy="#{annotation.compound_name}" style="width:405px">
                                            <h:outputText value="#{annotation.compound_name}" />
                                            <ui:fragment rendered="#{not empty annotation.MINE_id and not empty annotation.compound_name}">
                                                <br/>
                                            </ui:fragment>
                                            <h:outputText value="GENERATED by MINE " rendered="#{not empty annotation.MINE_id}" /> 
                                            <h:outputLink value="#{annotation.getCompoundMINEWebPage()}" target="_mine" 
                                                          rendered="#{not empty annotation.MINE_id}" styleClass="prime" >
                                                <h:outputText value="#{annotation.MINE_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column headerText="Formula" sortBy="#{annotation.formula}" style="width:150px">
                                            <h:outputText value="#{annotation.formula}" />
                                        </p:column>

                                        <p:column headerText="Molecular Weight" sortBy="#{annotation.mass}" style="width:100px">
                                            <h:outputText value="#{annotation.roundToFourDecimals((annotation.mass))}" />
                                        </p:column>

                                        <p:column headerText="error PPM" sortBy="#{annotation.incrementPPM}" 
                                                  style="width:75px">
                                            <h:outputText value="#{annotation.incrementPPM}" />
                                        </p:column>

                                        <p:column 
                                            sortBy="#{annotation.ionizationScore}" style="width:95px"
                                            styleClass="#{annotation.colorIonizationScore}"
                                            >
                                            <f:facet name="header">
                                                <h:outputText value="Ionization score " title="Score based on adduct formation rules (see manual for more information)"/>
                                                <p:graphicImage alt="" title="Score based on adduct formation rules (see manual for more information)" value="/images/help_icon.png" width="15px"/>
                                            </f:facet>
                                            <h:outputText value="#{annotation.ionizationScore>=0 ? annotation.ionizationScore : 'N/A'}" />
                                        </p:column>

                                        <p:column headerText="Cas" sortBy="#{annotation.cas_id}" style="width:120px">
                                            <h:outputText value="#{annotation.cas_id}"/> 
                                        </p:column>

                                        <p:column sortBy="#{annotation.hmdb_id}" style="width:120px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.HMDBWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="HMDB" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundHMDBWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.hmdb_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.metlin_id}" style="width:100px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.metlinWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="Metlin" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundMetlinWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.metlin_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.lm_id}" style="width:125px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.LMWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="LipidMaps" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundLMWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.lm_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.kegg_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.keggWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="KEGG" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundKeggWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.kegg_id}" />
                                            </h:outputLink>
                                        </p:column>
                                        
                                        <p:column sortBy="#{annotation.chebi_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.chebiWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="CHEBI" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundChebiWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.chebi}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column sortBy="#{annotation.pc_id}" style="width:90px">
                                            <f:facet name="header">  
                                                <h:outputLink value="#{LCMSController.PCWebPage}" target="_blank" styleClass="prime">
                                                    <h:outputText value="PubChem" />  
                                                </h:outputLink>
                                            </f:facet> 
                                            <h:outputLink value="#{annotation.getCompoundPubChemWebPage()}" target="_blank" styleClass="prime">
                                                <h:outputText value="#{annotation.pc_id}" />
                                            </h:outputLink>
                                        </p:column>

                                        <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                            <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" 
                                                             actionListener="#{annotation.exchangeBoolShowPathways()}" 
                                                             rendered="#{annotation.areTherePathways()}">
                                                <f:ajax execute="showpathways" render=" showpathways datalistpathways"/>
                                            </p:commandButton>
                                            <p:dataList value="#{annotation.pathwaysBool}" 
                                                        var="pathway"
                                                        styleClass="pathways"
                                                        id="datalistpathways" 
                                                        rendered="#{annotation.areTherePathways()}"
                                                        emptyMessage=""
                                                        type="ordered">
                                                <h:outputLink value="#{pathway.getPathwayWebPage()}" target="_blank" class="prime pathways">
                                                    #{pathway.pathwayName}
                                                </h:outputLink>
                                            </p:dataList>
                                        </p:column>
                                    </p:dataTable>
                                </p:dataList>
                            </p:dataList>
                        </h:panelGroup>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>
