<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>CEU mass mediator. Simple search</title>
        </ui:define>

        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>

        <ui:define name="intro-wrapper">
            <div class="form ">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <div class="container excelbullet">
                        <h:outputText escape="false" value="No input compounds" 
                                      rendered="#{not theoreticalCompoundsController.isThereInputMasses()}"/>
                        <h:commandButton 
                            styleClass="button"
                            value="Generate Excel" 
                            action="#{theoreticalCompoundsController.exportToExcel(0)}" 
                            immediate="true"
                            rendered="#{theoreticalCompoundsController.isThereTheoreticalCompounds()}">
                            <ui:remove>
                                <!-- Property before refactorization -->
                                <f:setPropertyActionListener target="#{theoreticalCompoundsController.flag}" value="0" />
                            </ui:remove>
                        </h:commandButton>
                        <br />

                        <label class="tooltip">FDR (*): #{theoreticalCompoundsController.roundToFourDecimals(theoreticalCompoundsController.fdr)}
                            <span class="tooltiptext">False Discovery Rate calculated according to the hits obtained from the decoy adduct M+F+H</span>
                        </label>
                    </div>

                    <div class="tablewhiteborder">
                        <h:panelGroup rendered="#{theoreticalCompoundsController.isThereTheoreticalCompounds()}">
                            <p:dataList value="#{theoreticalCompoundsController.itemsGrouped}" 
                                        var="itemgroup" 
                                        rendered="#{theoreticalCompoundsController.isThereTheoreticalCompounds()}" 
                                        id="datalistresults"
                                        type="unordered" itemType="none" paginator="true" 
                                        rows="#{theoreticalCompoundsController.numAdducts}" 
                                        styleClass="paginated">
                                <f:facet name="header">
                                    Results
                                </f:facet>
                                <h:outputText value="#{itemgroup.getTitleMessage()}" 
                                              rendered = "#{itemgroup.experimentalMass>0}" />
                                <p:dataTable value="#{itemgroup.theoreticalCompounds}" 
                                             var="compound" 
                                             sortMode="multiple"
                                             id="datatablecompound"
                                             styleClass="compoundresults"
                                             rendered="#{itemgroup.isThereTheoreticalCompounds()}"
                                             >
                                    <!-- Every column has the minimum pixels enough to show information.
                                         The addition of every column is the widh of body -> 1600px
                                    -->
                                    <p:column headerText="Id" 
                                              sortBy="#{compound.compoundId}" 
                                              style="width:75px">
                                        <h:outputLink value="#{compound.CMMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.compoundId}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column headerText="Name" sortBy="#{compound.name}" style="width:405px">
                                        <h:outputText value="#{compound.name}" />
                                        <ui:fragment rendered="#{not empty compound.mineId and not empty compound.name}"><br /></ui:fragment>
                                        <h:outputText value="GENERATED by MINE " rendered="#{not empty compound.mineId}" /> 
                                        <h:outputLink value="#{compound.mineWebPage}" target="_mine" 
                                                      rendered="#{not empty compound.mineId}" >
                                            <h:outputText value="#{compound.mineId}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column headerText="Formula" sortBy="#{compound.formula}" style="width:150px">
                                        <h:outputText value="#{compound.formula}" />
                                    </p:column>

                                    <p:column headerText="Molecular Weight" sortBy="#{compound.molecularWeight}" style="width:100px">
                                        <h:outputText value="#{compound.molecularWeight}" />
                                    </p:column>

                                    <p:column headerText="error PPM" sortBy="#{compound.PPMIncrement}" style="width:75px">
                                        <h:outputText value="#{compound.PPMIncrement}" />
                                    </p:column>

                                    <p:column 
                                        sortBy="#{compound.ionizationScore}" style="width:95px"
                                        styleClass="#{compound.colorIonizationScore}"
                                        >
                                        <f:facet name="header">
                                            <h:outputText value="Ionization score " title="Score based on adduct formation rules (see manual for more information)"/>
                                            <p:graphicImage alt="" title="Score based on adduct formation rules (see manual for more information)" value="/images/help_icon.png" width="15px"/>
                                        </f:facet>
                                        <h:outputText value="#{compound.ionizationScore>=0 ? compound.ionizationScore : 'N/A'}" />
                                    </p:column>

                                    <p:column headerText="Cas" sortBy="#{compound.casId}" style="width:120px">
                                        <h:outputText value="#{compound.casId}"/> 
                                    </p:column>

                                    <p:column sortBy="#{compound.keggCompound}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.keggWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KEGG" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.keggWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.keggCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    <p:column sortBy="#{compound.chebiCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.chebiWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="CHEBI" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.chebiWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.chebiCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    <p:column sortBy="#{compound.HMDBCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.HMDBWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="HMDB" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.HMDBWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.HMDBCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column sortBy="#{compound.LMCompound}" style="width:140px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.LMWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="LipidMaps" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.LMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.LMCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column sortBy="#{compound.metlinCompound}" style="width:100px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.metlinWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="Metlin" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.metlinWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.metlinCompound}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{compound.PCCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.PCWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="PubChem" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.PCWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.PCCompound}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{compound.knapsackId}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.knapsackWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KNApSAcK" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.knapsackWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.knapsackId}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{compound.npAtlasId}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.npAtlasWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="NP Atlas" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.npAtlasWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.npAtlasId}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                        <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" actionListener="#{compound.exchangeBoolShowPathways()}" rendered="#{compound.areTherePathways()}">
                                            <f:ajax execute="showpathways" render=" showpathways"/>
                                        </p:commandButton>
                                        <p:dataList value="#{compound.pathways}" 
                                                    var="pathway"
                                                    styleClass="pathways"
                                                    id="datalistpathways" 
                                                    rendered="#{compound.areTherePathways()}"
                                                    emptyMessage=""
                                                    type="ordered">
                                            <h:outputLink value="#{pathway.obtainPathwayWebPage()}" target="_blank" class="prime pathways">
                                                #{pathway.pathwayName}
                                            </h:outputLink>
                                        </p:dataList>
                                    </p:column>
                                </p:dataTable>
                            </p:dataList>
                        </h:panelGroup>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>
