<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <head>
        <script src="graficas_Rickshaw.js" type="text/javascript"></script>
    </head>

    <ui:composition template="/template_general.xhtml">
         
        <ui:define name="head">

            <title>CEU mass mediator</title>
           
         
            <script>
                function graphicate() {
                    
                    window.open('graphical_view.xhtml', 'mywindow', 'resizable=yes,toolbar=no,scrollbars=yes,height=450,width=1100,top=145,left=235');
                    return true; 
                }
            </script>

        </ui:define>

        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>

        <ui:define name="intro-wrapper">
            <!--
            <div class="title">Results</div>
            -->
            <div class="form ">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
             

                    <div class="tablewhiteborder">
                        <center>
                            <h:outputText escape="false" value="No input peaks" 
                                          rendered="#{MSMSController.isThereInputPeaks()}"/> 
                        </center>
                        <h:panelGroup rendered="#{MSMSController.isThereCandidates()}">

                            <p:dataTable value="#{MSMSController.itemsMSCompound}" 
                                         var="item"                                         
                                         sortMode="multiple"
                                         id="datatablecompound"
                                         styleClass="compoundresults"
                                         rendered="#{MSMSController.isThereCandidates()}"
                                         >
                                <f:facet name="header" >
                                    Results
                                </f:facet>
                                <h:outputText value="Results" />


                                <p:column headerText="Spectral Display Tools" 
                                          style="width:85px">
                                    <h:outputText value="#{item.getStringSpectraType()}" /> 
                                </p:column>

                                <p:column headerText="Id" 
                                          style="width:75px">
                                    <h:outputLink value="#{item.CMMWebPage}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{item.compound_id}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column headerText="HMDB" style="width:120px">
                                    <h:outputLink value="#{item.HMDBWebPage}" target="_blank" styleClass="prime">
                                        <h:outputText value="#{item.HMDB_ID}" />
                                    </h:outputLink>
                                </p:column>

                                <p:column headerText="Name" style="width:405px">
                                    <h:outputText value="#{item.compound_name}" />
                                    <ui:fragment rendered="#{not empty item.compound_id and not empty itemgroup.compound_name}">
                                        <br/></ui:fragment>
                                </p:column>

                                <p:column headerText="Formula" style="width:150px">
                                    <h:outputText value="#{item.compound_formula}" />
                                </p:column>

                                <p:column headerText="Precursor ion Mass" style="width:100px">
                                    <h:outputText value="#{item.getRoundedDouble(item.compound_mass)}" />
                                </p:column>

                                <p:column headerText="Score" style="width:100px">
                                    <h:outputText value="#{item.getRoundedDouble(item.score)}" />
                                </p:column>
                                
                                  
                                <p:column headerText="Graphical Spectra" style="width:120px">
                                   
                                    <h:commandButton
                                        id="submit" 
                                        value="View" 
                                        actionListener="#{MSMSController.graphicalView(item.normalizedPeaks)}"
                                        style="width:50px" 
                                        > 
                                        <f:ajax render="popupScript"/>                                        
                                    </h:commandButton>
                                    <h:panelGroup id ="popupScript">
                                        <h:outputScript rendered="#{MSMSController.click}">
                                              window.open('graphical_view.xhtml', 'mywindow', 'resizable=yes,toolbar=no,scrollbars=yes,height=450,width=1100,top=145,left=235');
                                        </h:outputScript>              
                                    </h:panelGroup>
                                    
                                </p:column>


                            </p:dataTable>  
                        </h:panelGroup>
                        
                     <!--   <p:dataTable value="#{MSMSController.itemsPeaks}" 
                                         var="item2"                                         
                                         sortMode="multiple"
                                         id="datatablecompound2"
                                         styleClass="compoundresults"
                                         rendered="#{MSMSController.isThereCandidates()}"
                                         >
                                <f:facet name="header" >
                                    Input
                                </f:facet>
                              <h:outputText value="Input" />


                                <p:column headerText="Spectral Display Tools" 
                                          style="width:85px">
                                        <h:outputText value="" /> 
                                </p:column>
                                <p:column headerText="Spectral Display Tools" 
                                          style="width:85px">
                                    <h:outputText value=" /> 
                                </p:column>
                                <p:column headerText="Graphical Spectra" style="width:120px">
                                    <h:commandButton
                                        id="submit" 
                                        value="View" 
                                       
                                        
                                        style="width:50px" 
                                        >
                                    </h:commandButton>

                                </p:column>
                              
                        </p:dataTable> -->
                      
                    </div>  
                </h:form>
            </div>
        </ui:define>

    </ui:composition>


</html>


<!--  action="/graphical_view_1?faces-redirect=true" 
 <p:dataTable value="#{MSMSController.inputPeaks}" 
                                         var="input"                                         
                                         sortMode="multiple"
                                         id="datatablecompound2"
                                         styleClass="compoundresults"
                                         
                                         >
                                <f:facet name="header" >
                                    Input
                                </f:facet>
                                <h:outputText value="input" />

                          
                                <p:column headerText="Input Peaks from MSMSController" 
                                          style="width:85px">
                                  
                                    <h:outputText value="#{input}" /> 
                           
                                </p:column>
                              </p:dataTable> 

 actionListener = "#{MSMSController.graphicalView(item.peaks)}"

actionListener = "#{MSMSController.graphicalView(item.peaks)}"
action="/graphical_view?faces-redirect=true"

action="/graphical_view?faces-redirect=true"
                                        actionListener = "#{MSMSController.graphicalView(item.peaks)}"
-->