<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>CEU mass mediator. Advanced search</title>
        </ui:define>

        <ui:param name="onloadbody" value=""/>
        <ui:param name="idbody" value="bodylistcompounds"/>

        <ui:define name="intro-wrapper">
            <!--
            <div class="title">Results</div>
            -->
            <div class="form">
                <h:form id="listcompounds" prependId="false">
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>

                    <div class="container excelbullet">
                        <h:outputText escape="false" value="No input compounds" rendered="#{not theoreticalCompoundsRTController.isThereInputMasses()}"/>


                        <h:commandButton 
                            class="button"
                            value="Generate Excel" 
                            action="#{theoreticalCompoundsRTController.exportToExcel(1)}" 
                            rendered="#{theoreticalCompoundsRTController.isThereTheoreticalCompounds()}">
                            <ui:remove>
                                <!-- Property before refactorization -->
                                <f:setPropertyActionListener target="#{theoreticalCompoundsRTController.flag}" value="1" />
                            </ui:remove>
                        </h:commandButton>
                        <br />

                        &nbsp;
                        &nbsp;
                        <!--
                        <h:outputLink value="advanced_search.xhtml">Back to input data form</h:outputLink>
                        -->
                    </div>

                    <div class="tablewhiteborder">

                        <h:panelGroup rendered="#{theoreticalCompoundsRTController.isThereTheoreticalCompounds()}">

                            <p:dataList value="#{theoreticalCompoundsRTController.itemsGrouped}" 
                                        var="itemgroup" 
                                        rendered="#{theoreticalCompoundsRTController.isThereTheoreticalCompounds()}" 
                                        id="datalistresults"
                                        type="unordered" 
                                        itemType="none" 
                                        paginator="true" 
                                        rows="#{theoreticalCompoundsRTController.numAdducts}" 
                                        styleClass="paginated">
                                <f:facet name="header">
                                    Results
                                </f:facet>
                                <h:outputText value="#{itemgroup.getTitleMessage()}" 
                                              rendered="#{itemgroup.isSignificativeCompoundGroup()}"/>
                                <p:dataTable value="#{itemgroup.theoreticalCompounds}" 
                                             var="compound" 
                                             sortMode="multiple"
                                             id="datatablecompound"
                                             styleClass="compoundresults" 
                                             rendered="#{itemgroup.isSignificativeCompoundGroup() and itemgroup.isThereTheoreticalCompounds()}"
                                             >
                                    <!-- Every column has the minimum pixels enough to show information.
                                         The addition of every column is the widh of body -> 1600px
                                    -->
                                    <p:column headerText="Id" 
                                              sortBy="#{compound.compoundId}" 
                                              style="width:75px">
                                        <h:outputLink value="#{compound.CMMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.compoundId}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column headerText="Name" sortBy="#{compound.name}" style="width:405px">
                                        <h:outputText value="#{compound.name}" />          

                                        <ui:fragment rendered="#{not empty compound.mineId and not empty compound.name}"><br /></ui:fragment>
                                        <h:outputText value="GENERATED by MINE " rendered="#{not empty compound.mineId}" /> 
                                        <h:outputLink value="#{compound.mineWebPage}" target="_blank" rendered="#{not empty compound.mineId}" >
                                            <h:outputText value="#{compound.mineId}" />
                                        </h:outputLink>

                                    </p:column>
                                    <p:column headerText="Formula" sortBy="#{compound.formula}" style="width:150px">
                                        <h:outputText value="#{compound.formula}" />
                                    </p:column>
                                    <p:column headerText="Molecular Weight" sortBy="#{compound.molecularWeight}" style="width:100px">
                                        <h:outputText value="#{compound.molecularWeight}" />
                                    </p:column>
                                    <p:column headerText="Retention Time" sortBy="#{compound.RT_pred}" style="width:110px">
                                        <h:outputText value="#{compound.RT_pred}" />
                                    </p:column>
                                    <p:column headerText="error PPM" sortBy="#{compound.PPMIncrement}" style="width:75px">
                                        <h:outputText value="#{compound.PPMIncrement}" />
                                    </p:column>                            

                                   <p:column headerText="error RT" sortBy="#{compound.RT_increment}" style="width:75px">
                                        <h:outputText value="#{compound.RT_increment}" />
                                    </p:column>       
                                    
                                    <p:column headerText="Cas" sortBy="#{compound.casId}" style="width:120px">
                                        <h:outputText value="#{compound.casId}" />
                                    </p:column>

                                    <p:column sortBy="#{compound.keggCompound}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.keggWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KEGG" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.keggWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.keggCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    <p:column sortBy="#{compound.keggCompound}" style="width:90px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.keggWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KEGG" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.keggWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.keggCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    <p:column sortBy="#{compound.chebiCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.chebiWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="CHEBI" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.chebiWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.chebiCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    <p:column sortBy="#{compound.HMDBCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.HMDBWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="HMDB" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.HMDBWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.HMDBCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column sortBy="#{compound.LMCompound}" style="width:140px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.LMWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="LipidMaps" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.LMWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.LMCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    <p:column sortBy="#{compound.metlinCompound}" style="width:100px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.metlinWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="Metlin" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.metlinWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.metlinCompound}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{compound.PCCompound}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.PCWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="PubChem" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.PCWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.PCCompound}" />
                                        </h:outputLink>
                                    </p:column>
                                    
                                    
                                    <p:column sortBy="#{compound.knapsackId}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.knapsackWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="KNApSAcK" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.knapsackWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.knapsackId}" />
                                        </h:outputLink>
                                    </p:column>

                                    <p:column sortBy="#{compound.npAtlasId}" style="width:120px">
                                        <f:facet name="header">  
                                            <h:outputLink value="#{itemgroup.npAtlasWebPage}" target="_blank" styleClass="prime">
                                                <h:outputText value="NP Atlas" />  
                                            </h:outputLink>
                                        </f:facet> 
                                        <h:outputLink value="#{compound.npAtlasWebPage}" target="_blank" styleClass="prime">
                                            <h:outputText value="#{compound.npAtlasId}" />
                                        </h:outputLink>
                                    </p:column>

                                    
                                    <p:column headerText="Pathways" id="columnpathways" styleClass="prime" style="width:200px"> 
                                        <p:commandButton value="Show pathways" id="showpathways" update="datalistpathways" 
                                                         actionListener="#{compound.exchangeBoolShowPathways()}" 
                                                         rendered="#{compound.areTherePathways()}">
                                            <f:ajax execute="showpathways" render="showpathways"/>
                                        </p:commandButton>
                                        <p:dataList value="#{compound.pathways}" 
                                                    var="pathway"
                                                    styleClass="withoutBorders pathways"
                                                    id="datalistpathways" 
                                                    rendered="#{compound.areTherePathways()}"
                                                    emptyMessage=""
                                                    type="ordered">
                                            <h:outputLink value="#{pathway.obtainPathwayWebPage()}" target="_blank" class="prime pathways">
                                                #{pathway.pathwayName}
                                            </h:outputLink>
                                        </p:dataList>
                                    </p:column>

                                </p:dataTable>
                            </p:dataList>
                        </h:panelGroup>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>


</html>
