<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <ui:composition template="/template_general.xhtml">
        <ui:define name="head">
            <title>Batch Advanced Search. CEU mass mediator</title>
        </ui:define>
        
        <ui:param name="onloadbody" value="#{theoreticalCompoundsRTController.clearForm()}"/>
        <ui:param name="idbody" value="searchbody"/>
        
        <ui:define name="intro-wrapper">
            <!--
            <div class="title">RT Prediction Search</div>
            -->
            <div class="container whiteborder">
                <p><strong>CEU Mass Mediator compounds' list for the projection</strong>: please insert a subset of reference standards to project your RTs into the CMM model</p>

                <p:panelGrid columns="1" columnClasses="ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-panelgrid-blank">
                    <p:row>
                        <a href="resources/CMM_list_compounds.zip" target="_blank" class="style3 small" style="width:100%">CMM compounds list CSV</a>
                    </p:row>
                </p:panelGrid>
            </div>

            <div class="form">
                <h:form id="mainsearch" enctype="multipart/form-data" prependId="false">
                    <p:focus for="inputcmmids"/>
                    <h:commandButton id="dummy" actionListener="#{theoreticalCompoundsRTController.submitCompoundsRTPred()}" 
                                     action="/RTPredList?faces-redirect=true" style="display:none;"
                                     />
                    <p:clock rendered="false"/>
                     <div id="highlights" class="container whiteborder">
                        <center>
                            <label style="float: top">(*) Mandatory fields</label>    
                            
                                <input id="uploadreferencerts" type="file"  accept="text/plain,.csv, 
                                       application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                                       application/vnd.ms-excel" name="files" size="30"/>
                        </center>
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6,ui-grid-col-6" layout="grid" styleClass="ui-panelgrid-blank">

                            

                            <p:row>
                                <label for="inputcmmids" class="tooltip">CMM Ids of Reference Stds (*):
                                    <span class="tooltiptext">known compound cmm ids</span>
                                </label>
                                <p:inputTextarea id="inputcmmids"
                                                 value="#{theoreticalCompoundsRTController.inputCompoundRefStds}"
                                                 required="true"
                                                 pt:placeholder="enter cmm ids of reference standards"
                                                 autoResize="false"                                                 
                                                 style=" overflow: auto; width:100%"
                                                 />
                                <p:message for="inputcmmids" styleClass="errormessage"></p:message>
                            </p:row>

                            <p:row>
                                <label for="refstdsrts" class="tooltip">Retention Times:
                                <span class="tooltiptext">
                                    RT for known compounds
                                    <br/>
                                    Any unit accepted (see manual)
                                </span>
                                </label>
                                <p:inputTextarea id="refstdsrts"
                                                 value="#{theoreticalCompoundsRTController.inputRefStdsRTs}"
                                                 pt:placeholder="enter retention times of known compounds in your analysis"
                                                 autoResize="false"     
                                                 style=" overflow: auto; width:100%"
                                                 />
                                <p:message for="refstdsrts" styleClass="errormessage"></p:message>
                            </p:row>

                        </p:panelGrid>
                        <hr/>

                        <center>
                            <label style="float: top">(*) Mandatory fields</label>    
                            
                                <input id="uploadquery" type="file"  accept="text/plain,.csv, 
                                       application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, 
                                       application/vnd.ms-excel" name="files" size="30"/>
                        </center>
                        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
                            
                            <p:row>
                                <label for="inputmasses" class="tooltip">Experimental Masses (*):
                                    <span class="tooltiptext">statistically significant masses</span>
                                </label>
                                <p:inputTextarea id="inputmasses"
                                                 value="#{theoreticalCompoundsRTController.queryInputMasses}"
                                                 required="true"
                                                 pt:placeholder="enter significant input masses"
                                                 autoResize="false"                                                 
                                                 style=" overflow: auto; width:100%"
                                                 />
                                <p:message for="inputmasses" styleClass="errormessage"></p:message>
                            </p:row>

                            <p:row>
                                <label for="rtimes" class="tooltip">Retention Times:
                                <span class="tooltiptext">
                                    RT for statistically significant masses.
                                    <br/>
                                    Any unit accepted (see manual)
                                </span>
                                </label>
                                <p:inputTextarea id="rtimes"
                                                 value="#{theoreticalCompoundsRTController.queryInputRetentionTimes}"
                                                 pt:placeholder="enter significant retention times"
                                                 autoResize="false"     
                                                 style=" overflow: auto; width:100%"
                                                 />
                                <p:message for="rtimes" styleClass="errormessage"></p:message>
                            </p:row>

                            <p:row>
                                <label for="compositespectra" class="tooltip">Composite Spectra:
                                <span class="tooltiptext">
                                    CS for statistically significant masses.
                                    <br/>
                                    (m/z,intensity) for all clustered ions
                                </span>
                                </label>
                                <p:inputTextarea id="compositespectra"
                                                 value="#{theoreticalCompoundsRTController.queryInputCompositeSpectra}"
                                                 pt:placeholder="enter significant composite spectra"
                                                 autoResize="false"
                                                 style=" overflow: auto; width:100%"
                                                 />
                                <p:message for="compositespectra" styleClass="errormessage"></p:message>
                            </p:row>
                            
                            <p:row></p:row>
                            <p:row>
                                <div class="ui-panelgrid-cell ui-grid-col-6">
                                    <label for="inputtolerance" style="float: top">Tolerance (*): &nbsp;</label>
                                    <p:inputText id="inputtolerance" size="2" maxlength="4"  
                                                 value="#{theoreticalCompoundsRTController.inputTolerance}" 
                                                 validator="#{theoreticalCompoundsRTController.validateInputTolerance}"
                                                 required="true"
                                                 pt:placeholder="enter tolerance"
                                                 style="width:100%;height: 300%"
                                                 />
                                    <p:message for="inputtolerance" styleClass="errormessage"></p:message>
                                </div>
                                <div class="ui-panelgrid-cell ui-grid-col-6">
                                    <label for="inputmodetolerance" style="float: top">&nbsp;</label>
                                    <p:selectOneRadio id="inputmodetolerance" 
                                                      required="true"
                                                      requiredMessage="Choose tolerance mode"
                                                      value="#{theoreticalCompoundsRTController.inputModeTolerance}" >
                                        <f:selectItem itemValue="ppm" itemLabel="ppm"/>
                                        <f:selectItem itemValue="mDa" itemLabel="mDa"/> 
                                    </p:selectOneRadio>
                                </div>
                            </p:row>
                            <p:row></p:row>
                            <p:row></p:row>
                            <p:row>
                                    <label for="inputrttolerance" style="float: top">Confidence interval (*): &nbsp;</label>
                                    <p:selectOneListbox id="inputrttolerance" 
                                                      required="true"
                                                      requiredMessage="Choose confidence interval"
                                                      value="#{theoreticalCompoundsRTController.inputRTTolerance}" >
                                        <f:selectItem itemValue="68" itemLabel="68"/>
                                        <f:selectItem itemValue="95" itemLabel="95"/> 
                                        <f:selectItem itemValue="99" itemLabel="99"/> 
                                    </p:selectOneListbox>
                                
                            </p:row>
                            <p:row></p:row>
                            <p:row></p:row>
                            <p:row>
                                <label for="chemicalalphabet" class="tooltip">Chemical Alphabet (*): &nbsp;
                                    <span class="tooltiptext">Search restricted to selected elements<br/>
                                    </span>
                                </label>
                                <p:selectOneListbox id="chemicalalphabet" 
                                                    value="#{theoreticalCompoundsRTController.chemAlphabet}"
                                                    style="width:100%">
                                    <f:selectItem itemLabel="All" itemValue="ALL" />
                                    <f:selectItem itemLabel="CHNOPS" itemValue="CHNOPS" />
                                    <f:selectItem itemLabel="CHNOPS + Cl" itemValue="CHNOPSCL" />
                                </p:selectOneListbox>
                                <div class="ui-panelgrid-cell ui-grid-col-6">
                                    <p:outputLabel for="@next" value="Deuterium: " />
                                </div>
                                <div class="ui-panelgrid-cell ui-grid-col-6">
                                    <p:selectBooleanCheckbox id="checkboxdeuterium" value="#{theoreticalCompoundsRTController.includeDeuterium}" />
                                </div>
                            </p:row>
                            <p:row></p:row>

                            <p:row></p:row>
                            <p:row>
                                <label for="modifiersmenu" class="tooltip">Modifiers (*): &nbsp;
                                    <span class="tooltiptext">Modifiers added to the mobile phase<br/>
                                    </span>
                                </label>
                                <p:selectOneListbox id="modifiersmenu" 
                                                    value="#{theoreticalCompoundsRTController.modifier}" 
                                                    filter="false" 
                                                    filterMatchMode="contains"
                                                    required="true"
                                                    requiredMessage="Choose a modifier"
                                                    style="width:100%">
                                    <f:ajax execute="modifiersmenu" render="modifiersmenu"/>
                                    <f:selectItems value="#{theoreticalCompoundsRTController.modifierCandidates}" />
                                </p:selectOneListbox>
                                <p:message for="modifiersmenu" styleClass="errormessage"></p:message>
                            </p:row>
                            <p:row></p:row>

                            <p:row></p:row>
                            <p:row>
                                <label for="databasesmenu" style="float: top">Databases (*):</label>
                                <p:selectManyMenu id="databasesmenu" 
                                                  value="#{theoreticalCompoundsRTController.databases}" 
                                                  filter="false" 
                                                  filterMatchMode="contains"
                                                  showCheckbox="true"
                                                  required="true"
                                                  requiredMessage="Choose some database"
                                                  style="width:100%">
                                    <f:ajax execute="databasesmenu" render=" databasesmenu"/>
                                    <f:selectItems value="#{theoreticalCompoundsRTController.DBcandidates}" />
                                </p:selectManyMenu>
                                <p:message for="databasesmenu" styleClass="errormessage"></p:message>
                            </p:row>                        

                            <p:row></p:row>
                            <p:row></p:row>

                            <p:row>
                                <label for="metabolitestypemenu" style="float: top">Metabolites (*): &nbsp;</label>
                                <p:selectOneListbox id="metabolitestypemenu" 
                                                    value="#{theoreticalCompoundsRTController.metabolitesType}" 
                                                    filter="false" 
                                                    filterMatchMode="contains"
                                                    required="true"
                                                    requiredMessage="Choose type of metabolites to search"
                                                    style="width:100%">
                                    <f:ajax execute="metabolitestypemenu" render=" metabolitestypemenu"/>
                                    <f:selectItems value="#{theoreticalCompoundsRTController.metabolitesTypecandidates}" />
                                </p:selectOneListbox>
                                <p:message for="metabolitestypemenu" styleClass="errormessage"></p:message>
                            </p:row>

                            <p:row></p:row>
                        </p:panelGrid>

                        <hr/>

                        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">

                            <p:row>
                                <label for="massesmodemenu" style="float: top">Input Masses Mode (*):</label>
                                <p:selectOneListbox id="massesmodemenu" 
                                                    value="#{theoreticalCompoundsRTController.massesMode}"
                                                    style="width:100%">
                                    <f:selectItem itemValue="neutral" itemLabel="Neutral Masses"/>
                                    <f:selectItem itemValue="mz" itemLabel="m/z Masses"/>
                                    <!--<f:selectItem itemValue="recalculated" itemLabel="Recalculated m/z Masses"/>-->
                                    <f:ajax execute="massesmodemenu" render="massesmodemenu ionmodemenu 
                                            adductsmenu messageionmode"/>
                                </p:selectOneListbox>
                            </p:row>

                            <p:row>
                                <label for="ionmodemenu" style="float: top">Ionization Mode (*):</label>
                                <p:selectOneListbox id="ionmodemenu" 
                                                    value="#{theoreticalCompoundsRTController.ionMode}"
                                                    required="true"
                                                    requiredMessage="Choose an ionization mode"
                                                    style="width:100%">
                                    <f:selectItems value="#{theoreticalCompoundsRTController.ionizationModeCandidates}" />
                                    <f:ajax execute="ionmodemenu" render=" ionmodemenu adductsmenu messageionmode"/>
                                </p:selectOneListbox>
                                <p:message for="ionmodemenu" styleClass="errormessage"></p:message>
                                <p:outputLabel id="messageionmode"
                                               value="#{theoreticalCompoundsRTController.showMessageForNeutralMasses()}"
                                               style="float: top"
                                               />
                            </p:row>

                            <p:row>
                                <label for="adductsmenu" style="float: top">Adducts (*):</label>
                                <p:selectManyMenu id="adductsmenu" 
                                                  value="#{theoreticalCompoundsRTController.adducts}" 
                                                  filter="false" 
                                                  filterMatchMode="contains"
                                                  showCheckbox="true"
                                                  required="true"
                                                  requiredMessage="Choose some adducts to search"
                                                  style="width:100%">
                                    <f:ajax execute="adductsmenu" render=" adductsmenu"/>
                                    <f:selectItems value="#{theoreticalCompoundsRTController.adductsCandidates}" />
                                </p:selectManyMenu>
                                <p:message for="adductsmenu" styleClass="errormessage"></p:message>
                            </p:row>

                        </p:panelGrid>

                        <hr/>

                        <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:row>                                
                                <h:commandButton 
                                    id="loadDemo" 
                                    type="submit" 
                                    value="Load demo data" 
                                    action="#{theoreticalCompoundsRTController.setAdvancedDemoRTMasses()}" 
                                    immediate="true"
                                    style="width:100%">
                                    <f:ajax render="@form"/>
                                    <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                                </h:commandButton>
                            </p:row>  
                            <p:row>
                                <h:commandButton
                                    id="submit" 
                                    value="submit compounds" 
                                    actionListener="#{theoreticalCompoundsRTController.submitCompoundsRTPred()}" 
                                    action="/RTPredList?faces-redirect=true"
                                    style="width:100%">
                                </h:commandButton>
                            </p:row>
                            <p:row>
                                <h:commandButton  
                                    id="reset" 
                                    type="submit" 
                                    value="reset" 
                                    action="#{theoreticalCompoundsRTController.clearForm()}"
                                    immediate="true"
                                    style="width:100%"> 
                                    <f:ajax render="@form"/>
                                    <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                                </h:commandButton>
                            </p:row>
                        </p:panelGrid>

                    </div>
                </h:form>
            </div>
            
            
            <script type="text/javascript">
                $(document).ready(function () {
                    function to_csv(workbook) {
                        var result = [];
                        var csvFile;
                        workbook.SheetNames.forEach(function(sheetName) {
                            var csv = XLSX.utils.sheet_to_csv(workbook.Sheets[sheetName]);
                            if(csv.length > 0){
                                csvFile = csv;
                            }
                        });
                        return csvFile;
                    }
                    function detectSeparator(firstLine) {
                        var firstLine = firstLine.split('\n')[0];
                        if (firstLine.includes(",")){
                            return ",";
                        }
                        if (firstLine.includes(";")){
                            return ";";
                        }
                        if (firstLine.includes("|")){
                            return "|";
                        }
                        if (firstLine.includes("\t")){
                            return "\t";
                        }
                    }
                    function handleFileSelect(evt) {
                        async:false
                        var files = evt.target.files; // FileList object

                        // use the 1st file from the list
                        f = files[0];
                        var reader = new FileReader();
                        var extension = f.name.split('.').pop().toLowerCase();
                        // Closure to capture the file information.
                        reader.onload = (function (theFile) {
                            return function (e) {
                                switch (extension) {
                                    case 'txt':
                                    case 'csv':
                                        var rows = e.target.result.split("\n");
                                        var csvFile = e.target.result;
                                        var delimiter = detectSeparator(csvFile);
                                        var options={"separator" : delimiter};
                                        var rows = $.csv.toArrays(csvFile, options);
                                        break;
                                    case 'xls':
                                    case 'xlsx':
                                        var data = e.target.result;
                                        var workbook = XLSX.read(data, {type: 'binary'});
                                        var csvFile = to_csv(workbook);
                                        var rows = $.csv.toArrays(csvFile);
                                        break;
                                }
                                var idColumn = -1;
                                var ids ="";
                                var RTColumn = -1;
                                var RTs ="";
                                
                                for (var i = 0; i &lt; rows[0].length; i++) {
                                    if (rows[0][i].includes("compound_id")) {
                                        var idColumn = i;
                                    }
                                    if (rows[0][i].includes("RT")) {
                                        var RTColumn = i;
                                    }
                                }
                                if(idColumn &gt;= 0)
                                {
                                    for (var i = 1; i  &lt; rows.length; i++) {
                                        ids += rows[i][idColumn] + "\n";
                                }
                                    jQuery('#inputcmmids').val(ids);
                                }
                                else{
                                    jQuery('#inputcmmids').val("Upload a correct file (see manual)");
                                }
                                if(RTColumn &gt;= 0)
                                {
                                    for (var i = 1; i  &lt; rows.length; i++) {
                                        RTs += rows[i][RTColumn] + "\n";
                                }
                                    jQuery('#refstdsrts').val(RTs);
                                }
                                else{
                                    jQuery('#refstdsrts').val("See format for uploading files in manual");
                                }
                            };
                        })(f);
			switch (extension) {
                            case 'txt':
                            case 'csv':
	      	              reader.readAsText(f);
			      break;
                            case 'xls':
                            case 'xlsx':
	      	              reader.readAsBinaryString(f);
			      break;
			}
                    }
                    document.getElementById('uploadreferencerts').addEventListener('change', handleFileSelect, false);
                });
                
                $(document).ready(function () {
                    function to_csv(workbook) {
                        var result = [];
                        var csvFile;
                        workbook.SheetNames.forEach(function(sheetName) {
                            var csv = XLSX.utils.sheet_to_csv(workbook.Sheets[sheetName]);
                            if(csv.length > 0){
                                csvFile = csv;
                            }
                        });
                        return csvFile;
                    }
                    function detectSeparator(firstLine) {
                        var firstLine = firstLine.split('\n')[0];
                        if (firstLine.includes(",")){
                            return ",";
                        }
                        if (firstLine.includes(";")){
                            return ";";
                        }
                        if (firstLine.includes("|")){
                            return "|";
                        }
                        if (firstLine.includes("\t")){
                            return "\t";
                        }
                    }
                    function handleFileSelect(evt) {
                        
                        async:false
                        var files = evt.target.files; // FileList object

                        // use the 1st file from the list
                        f = files[0];
                        var reader = new FileReader();
                        var extension = f.name.split('.').pop().toLowerCase();
                        // Closure to capture the file information.
                        reader.onload = (function (theFile) {
                            return function (e) {
                                switch (extension) {
                                    case 'txt':
                                    case 'csv':
                                        var rows = e.target.result.split("\n");
                                        var csvFile = e.target.result;
                                        var delimiter = detectSeparator(csvFile);
                                        var options={"separator" : delimiter};
                                        var rows = $.csv.toArrays(csvFile, options);
                                        break;
                                    case 'xls':
                                    case 'xlsx':
                                        var data = e.target.result;
                                        var workbook = XLSX.read(data, {type: 'binary'});
                                        var csvFile = to_csv(workbook);
                                        var rows = $.csv.toArrays(csvFile);
                                        break;
                                }
                                var massesColumn = -1;
                                var masses ="";
                                var RTColumn = -1;
                                var RTs ="";
                                var CSColumn = -1;
                                var CSs ="";
                                
                                for (var i = 0; i &lt; rows[0].length; i++) {
                                    if (rows[0][i].includes("masses")) {
                                        var massesColumn = i;
                                    }
                                    if (rows[0][i].includes("RT")) {
                                        var RTColumn = i;
                                    }
                                    if (rows[0][i].includes("CS")) {
                                        var CSColumn = i;
                                    }
                                }
                                if(massesColumn &gt;= 0)
                                {
                                    for (var i = 1; i  &lt; rows.length; i++) {
                                        masses += rows[i][massesColumn] + "\n";
                                }
                                    jQuery('#inputmasses').val(masses);
                                }
                                else{
                                    jQuery('#inputmasses').val("Upload a correct file (see manual)");
                                }
                                if(RTColumn &gt;= 0)
                                {
                                    for (var i = 1; i  &lt; rows.length; i++) {
                                        RTs += rows[i][RTColumn] + "\n";
                                }
                                    jQuery('#rtimes').val(RTs);
                                }
                                else{
                                    jQuery('#rtimes').val("See format for uploading files in manual");
                                }
                                if(CSColumn &gt;= 0)
                                {
                                    for (var i = 1; i  &lt; rows.length; i++) {
                                        CSs += rows[i][CSColumn] + "\n";
                                }
                                    jQuery('#compositespectra').val(CSs);
                                }
                                else{
                                    jQuery('#compositespectra').val("See format for uploading files in manual");
                                }
                            };
                        })(f);
			switch (extension) {
                            case 'txt':
                            case 'csv':
	      	              reader.readAsText(f);
			      break;
                            case 'xls':
                            case 'xlsx':
	      	              reader.readAsBinaryString(f);
			      break;
			}
                    }
                    document.getElementById('uploadquery').addEventListener('change', handleFileSelect, false);
                });
            </script>
            <script defer="defer" src="assets/js/jquery.csv.min.js" type="text/javascript"></script>
            <script defer="defer" src="assets/js/jszip.min.js" type="text/javascript"></script>
            <script defer="defer" src="assets/js/xlsx.min.js" type="text/javascript"></script>
        </ui:define>
    </ui:composition>

</html>
