<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Alberto Gil de la Fuente" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <script src="assets/js/ceumm.js"></script>
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-37347042-1', 'auto');
            ga('send', 'pageview');

        </script>
        <link rel="shortcut icon"
              href="http://ceumass.eps.uspceu.es/favicon.ico" />
        <ui:insert name="head">CEU mass mediator default HEADER</ui:insert>
    </h:head>
    <ui:insert>
        <ui:param name="onloadbody" value="" />
        <ui:param name="idbody" value="" />
    </ui:insert>
    <h:body class="homepage2" onload="#{onloadbody}" id="#{idbody}">

        <ui:insert name="header"> 
        </ui:insert>

        <div id="div-nav">
            <nav id="nav">
                
                <ul>
                    <li id="nav-li-img">
                        <img class="nav-img" src="images/logoCMM.jpeg" alt="CEMBIO logo header" />
                    </li>
                    <li class="#{view.viewId == '/index.xhtml'?'current':null}">
                        <a href="index.xhtml">Home</a>
                    </li>
                    <li class="#{view.viewId.contains('_search.xhtml') ? 'current':null}">
                        <a href="">Search</a>
                        <ul>
                            <ui:remove>
                                <li class="#{view.viewId == '/lcms_simple_search.xhtml'?'current':null}">
                                    <a href="lcms_simple_search.xhtml">Simple Search</a> 
                                </li>
                                <li class="#{view.viewId == '/lcms_advanced_search.xhtml'?'current':null}">
                                    <a href="lcms_advanced_search.xhtml">Advanced Search</a>
                                </li>
                                <li class="#{view.viewId == '/lcms_batch_search.xhtml'?'current':null}">
                                    <a href="lcms_batch_search.xhtml">Batch Search</a>
                                </li>
                                <li class="#{view.viewId == '/lcms_batch_advanced_search.xhtml'?'current':null}">
                                    <a href="lcms_batch_advanced_search.xhtml">Batch Advanced Search</a>
                                </li>
                            </ui:remove>
                            
                            <li class="#{view.viewId == '/simple_search.xhtml'?'current':null}">
                                <a href="simple_search.xhtml">Simple Search</a> 
                            </li>
                            <li class="#{view.viewId == '/batch_search.xhtml'?'current':null}">
                                <a href="batch_search.xhtml">Batch Search</a>
                            </li>
                            <li class="#{view.viewId == '/batch_advanced_search.xhtml'?'current':null}">
                                <a href="batch_advanced_search.xhtml">Batch Advanced Search</a>
                            </li>
                            <li class="#{view.viewId == '/rtpred_search.xhtml'?'current':null}">
                                <a href="rtpred_search.xhtml">RT Pred Search</a>
                            </li>
                            <li class="#{view.viewId == '/aspergillus_metabolome_search.xhtml'?'current':null}">
                                <a href="aspergillus_metabolome_search.xhtml">Aspergillus Search</a> 
                            </li>
                            <li class="#{view.viewId == '/ccs_search_IMMS.xhtml'?'current':null}">
                                <a href="ccs_search_IMMS.xhtml">IM-MS Search</a>
                            </li>
                            <li class="#{view.viewId == '/ccs_search_LCIMMS.xhtml'?'current':null}">
                                <a href="ccs_search_LCIMMS.xhtml">LC-IM-MS Search</a>
                            </li>
                            <li class="#{view.viewId == '/browse_search.xhtml'?'current':null}">
                                <a href="browse_search.xhtml">Browse Search</a>
                            </li>
                            <li class="#{view.viewId == '/msms_search.xhtml'?'current':null}">
                                <a href="msms_search.xhtml">MS/MS Search</a>
                            </li>
                            <!--</ui:remove>-->
                            <ui:remove>
                                <li class="#{view.viewId == '/lcms_grouped_rt_search.xhtml'?'current':null}">
                                    <a href="lcms_grouped_rt_search.xhtml">Search grouped by RT</a>
                                </li>
                            </ui:remove>
                        </ul>
                    </li>
                    
                    <li class="#{view.viewId.contains('cesearch.xhtml') ? 'current':null}">
                        <a href="index_cesearch.xhtml">CE-MS Search</a>
                        <ul>
                            <li class="#{view.viewId == '/cems_exprmt_cesearch.xhtml'?'current':null}">
                                <a href="cems_exprmt_cesearch.xhtml">CE-MS EXP RMT Search</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_effmob_cesearch.xhtml'?'current':null}">
                                <a href="cems_effmob_cesearch.xhtml">CE-MS eff Mob Search</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_mt1_cesearch.xhtml'?'current':null}">
                                <a href="cems_mt1_cesearch.xhtml">CE-MS MT 1 marker</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_mt2_cesearch.xhtml'?'current':null}">
                                <a href="cems_mt2_cesearch.xhtml">CE-MS MT 2 markers</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_rmt1_cesearch.xhtml'?'current':null}">
                                <a href="cems_rmt1_cesearch.xhtml">CE-MS RMT 1 marker</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_rmt2_cesearch.xhtml'?'current':null}">
                                <a href="cems_rmt2_cesearch.xhtml">CE-MS RMT 2 markers</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_targeted_exprmt_cesearch.xhtml'?'current':null}">
                                <a href="cems_targeted_exprmt_cesearch.xhtml">Targeted CE-MS EXP RMT Search</a> 
                            </li>
                            <li class="#{view.viewId == '/cems_targeted_effmob_cesearch.xhtml'?'current':null}">
                                <a href="cems_targeted_effmob_cesearch.xhtml">Targeted CE-MS eff Mob Search</a> 
                            </li>
                        </ul>
                    </li>
                    
                    <li class="#{view.viewId == '/pathway_displayer.xhtml'?'current':null}">
                        <a href="pathway_displayer.xhtml">Pathway Displayer</a>
                    </li>
                    <li class="#{view.viewId.contains('oxidation') ? 'current':null}">
                        <a href="">Oxidation</a>
                        <ul>
                            <li class="#{view.viewId == '/oxidation_lc_1.xhtml'?'current':null}">
                                <a href="oxidation_lc_1.xhtml">Oxidation in long FA chain</a>
                            </li>
                            <li class="#{view.viewId == '/oxidation_sc_1.xhtml'?'current':null}">
                                <a href="oxidation_sc_1.xhtml">Oxidation in short FA chain</a>
                            </li>
                        </ul>
                    </li>
                    <li class="#{view.viewId == '/qa_inputtexts.xhtml'?'current':null}">
                        <a href="qa_inputtexts.xhtml">Spectral Quality</a>
                    </li>
                    <li class="#{view.viewId == '/manuals.xhtml'?'current':null}">
                        <a href="manuals.xhtml" target="_blank">Manual</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="intro-wrapper" class="wrapper style1">
            <ui:insert name="intro-wrapper">Default Intro Wrapper</ui:insert>
        </div>

        <div id="version" class="wrapper style1">
            <div class="container warning">

                <strong>CEU Mass Mediator version 3.0</strong>.
                <br/>
                <strong>Citing CMM: </strong>
                <ol>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/pii/S0731708517326559" target="_blank">
                            CMM 2.0: 
                            Gil-de-la-Fuente A., Godzien J. et al. 
                            Knowledge-based metabolite annotation tool: CEU Mass Mediator.
                            Journal of Pharmaceutical and Biomedical Analysis, 2018, 154, 138-149.
                        </a>
                    </li>
                    <li>
                        <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jproteome.8b00720" target="_blank">
                            CMM 3.0: 
                            Gil-de-la-Fuente A., Godzien J. et al. 
                            CEU Mass Mediator 3.0: A Metabolite Annotation Tool
                            Journal of Proteome Research 2019, 18 (2), 797-802 
                        </a>
                    </li>
                    <li>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S0021967320310323" target="_blank">
                            CE-MS Database: 
                            Mamani-Huanca, M., Gil-de-la-Fuente A. et al. 
                            Enhancing confidence of metabolite annotation in Capillary Electrophoresis-Mass Spectrometry untargeted metabolomics with relative migration time and in-source fragmentation
                            Journal of Chromatography A 2020, 1635 (4), 461758
                        </a>
                    </li>
                    <li>
                        <a href="https://jcheminf.biomedcentral.com/articles/10.1186/s13321-022-00613-8" target="_blank">
                            RT Pred search: 
                            García, C.A., Gil-de-la-Fuente, A., Barbas, C. et al. 
                            Probabilistic metabolite annotation using retention time prediction and meta-learned projections
                            Journal of Cheminformatics 2022, 14, 33
                        </a>
                    </li>
                </ol>
                <br/>
                If you find 
                any issue, we would love to hear about it. Please let us know at 
                <script>getmailaddress('es', 'ceu', 'cmm.cembio');</script>
                <br/>
                <strong>Last updated: 01/06/2022</strong>
            </div>
        </div>

        <div id="footer-wrapper" class="wrapper">
            <div class="title"><a href="http://www.uspceu.es/" target="_blank">Universidad CEU-San Pablo</a></div>
            <div id="footer" class="container">
                <header class="style1">
                    <h3><a href="http://biolab.uspceu.com/" target="_blank">Laboratorio de Bioingeniería.
                            Escuela Politécnica Superior. Universidad CEU-San Pablo.</a></h3>
                    <h3><a href="http://www.metabolomica.uspceu.es/"  target="_blank">
                            Center for Metabolomics and Bioanalysis - CEMBIO.
                            Universidad CEU-San Pablo.</a></h3>

                    <p>
                        Data has been obtained from: <br />
                        <a href="https://www.genome.jp/kegg/" target="_blank">KEGG</a>
                        <br/>
                        <a href="https://metlin.scripps.edu/index.php" target="_blank">Metlin</a>
                        <br/>
                        <a href="https://www.lipidmaps.org/" target="_blank">Lipid Maps</a>
                        <br/>
                        <a href="https://www.hmdb.ca" target="_blank">HMDB</a>
                        <br/>
                        <a href="https://www.npatlas.org" target="_blank">NP Atlas</a>
                        <br/>
                        <a href="http://www.knapsackfamily.com" target="_blank">KNApSAcK Metabolomics</a>
                        <br/>
                        <a href="https://minedatabase.mcs.anl.gov/#/home" target="_blank">MINE</a>
                    </p>
                </header>

                <hr/>

                <div class="row 150%">

                    <div class="6u 12u(mobile)">

                        <section>
                            <center>
                                <a href="http://www.metabolomica.uspceu.es" target="_blank">
                                    <img src="images/cembioLogo.png" alt="CEMBIO LOGO" height="200" />
                                </a>
                            </center>
                        </section>
                    </div>

                    <div class="6u 12u(mobile)">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-home">Mailing Address</h3>
                                        <p>CEMBIO<br/>
                                            Universidad CEU-San Pablo. Urbanización Montepríncipe.<br />
                                            Carretera M-501 km 0. Boadilla del Monte.<br/>
                                            28660 - MADRID
                                        </p>
                                    </section>
                                </div>
                                <div class="6u 12u(mobile)">
                                    <section>
                                        <h3 class="icon fa-envelope">Email</h3>
                                        <p><script>getmailaddress('es', 'ceu', 'cmm.cembio');</script></p>
                                    </section>
                                    <section>
                                        <h3 class="icon fa-phone">Phone</h3>
                                        <p>(+34) 913724711</p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <hr />
            </div>
            <div id="copyright">
                <ul>
                    <li>&copy; Ceu Mass Mediator</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </div>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery-ui.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/skel-viewport.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
    </h:body>

</html>
